<div class="container d-flex justify-content-center">
  <div class="mt-5 row justify-content-center">

    <div class="col-10 mb-3">
      <label class="px-3">Choisir un fichier: </label>
      <input type="file" (change)="selectFile($event)" />
      <form [formGroup]="form">
        <label for="date1">Premier jour couvert</label>
        <input type="date" id = "date1" formControlName="date1">
        <br>
        <label for="date2">Dernier jour couvert</label>
        <input type="date" id = "date2" formControlName="date2">
      </form>
      <button class="btn btn-success btn-sm" (click)="uploadFile()">
        Ajouter
      </button>
    </div>
  </div>
</div>
<div class="container">
  <div class="mt-5 row justify-content-center">
    <div class="col-10 mb-3">
      <ul>
        <li *ngFor="let link of fileUris">
          <a href="{{ link }}" target="_blank">{{ link }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
