<h3>Créer un compte</h3>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label for="firstName">Prénom :</label>
  <br>
  <input type="text" id="firstName" formControlName="firstName">
  <br>
  <br>
  <label for="lastName">Nom :</label>
  <br>
  <input type="text" id="lastName" formControlName="lastName">
  <br>
  <br>
  <label for="login">Nom d'utilisateur :</label>
  <br>
  <input type="text" id="login" formControlName="login">
  <br>
  <br>
  <label for="password">Mot de passe :</label>
  <br>
  <input type="password" id="password" formControlName="password">
  <br>
  <br>
  <label for="password">Confirmer le mot de passe :</label>
  <br>
  <input type="password" id="confirm" formControlName="confirm">
  <br>
  <br>
  <label for="email">Adresse mail :</label>
  <br>
  <input type="text" id="email" formControlName="email">
  <br>
  <br>
  <input type="submit" class = "btn btn-primary" value = "Envoyer">
</form>
