.pending{
  background-color: rgba(255,0,0,0.5);
}
.typed{
  background-color: rgba(255,120,0,0.5);
}
.valid{
  background-color: rgba(0,200,0,0.5);
}
.public_holiday_or_weekend{
  background-color: rgba(150,150,220,0.5);
}
.selected{
  background-color: rgba(0,0,255,0.5);
  border: 2px solid cyan;
}
td {
  width: 14% ;
}
td p {
  height: 10vh;
  font-size: 150%;
  color: white;
  text-shadow: 1px 1px 3px black;
}
#legende *{
  height: 40px;
}

p.typed, p.valid, p.pending, p.public_holiday_or_weekend{
  border: 2px solid black;
  width: 40px;
  height: 5vh;
}
