<h2 *ngIf="loading">Loading...</h2>
<div *ngIf="!loading && !error">
  <h2> {{month.startDate | date:'MMMM y':undefined :'fr-BE' | titlecase}} </h2>
  <ul>
    <li *ngFor = "let day of month.days">
     <p class =" {{day.status | lowercase}} "> {{day.dayDate | date : 'EEEE': undefined : 'fr-BE'}} {{day.dayDate | date: 'd'}} </p>
    </li>
  </ul>
</div>
<h2 *ngIf="error && !loading">Erreur : mois inexistant</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <input type ="date" formControlName = "date">
  <button type = "submit">Envoyer</button>
</form>
