<h2 *ngIf="loading">Chargement...</h2>
<div *ngIf="!loading && !globalErrorMessage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <h2> {{month.startDate | date:'MMMM y':undefined :'fr-BE' | titlecase}} </h2>
        <div class = "table-responsive-xxl">
          <table class = "table table-bordered">
            <thead>
            <tr>
              <th scope="col">Lundi</th>
              <th scope="col">Mardi</th>
              <th scope="col">Mercredi</th>
              <th scope="col">Jeudi</th>
              <th scope="col">Vendredi</th>
              <th scope="col">Samedi</th>
              <th scope="col">Dimanche</th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let week of weeks; let i = index">
                <ng-container *ngIf = "i === 1"><td *ngFor="let day of emptyBeginning"> </td></ng-container>
                <td *ngFor="let day of week" (click)="onClick(day)" [ngClass]="day.selected ? 'selected' : day.status | lowercase">
                    <p *ngIf="!day.type">{{day.dayDate | date: 'd'}}</p>
                    <p class = " {{day.type | lowercase}}" *ngIf="day.type">{{day.dayDate | date: 'd'}}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class = "col-2">
        <table class = "table" id ="legende">
          <thead>
          <tr>
            <th scope="col">Légende</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><p class = "pending"></p></td>
            <td>En attente de choix de type</td>
          </tr>
          <tr>
            <td><p class = "typed"></p></td>
            <td>En attente de justificatif</td>
          </tr>
          <tr>
            <td><p class = "valid"></p></td>
            <td>Valide</td>
          </tr>
          <tr>
            <td><p class = "public_holiday_or_weekend"></p></td>
            <td>Week-end ou jour férié</td>
          </tr>
          </tbody>
        </table>
        <form *ngIf="clickedDate1" [formGroup]="typeForm" (ngSubmit)="setToWeekend? onSubmitStatus() : onSubmitType()">
          <h5>Donner un type aux jours sélectionnés</h5>
          <input type="checkbox" id ="status" (change)="toggleSetToWeekend()">
          <label for="status">La période sélectionnée est fériée</label>
          <div *ngIf="!setToWeekend">
            <br>
            <br>
            <label for="type">Choisir un type</label>
            <select id = "type" formControlName="type">
              <option *ngFor="let type of types"  value="{{type}}"> {{type}} </option>
            </select>
            <br>
            <br>
            <label for="file">Ajouter un justificatif (taille de fichier < 1Mo)</label>
            <br>
            <input type="file" id="file" (change)="selectFile($event)">
            <br>
          </div>
          <br>
          <br>
          <button type = "submit" class = "btn btn-primary">Confirmer</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <h3>Afficher un autre mois</h3>
        <form [formGroup]="monthForm">
          <input type ="month" formControlName = "date" placeholder="2023-05" (change)="onSubmitMonth()">
        </form>
      </div>
      <div class="col-5">

      </div>
    </div>
  </div>
</div>
<div *ngIf="globalErrorMessage && !loading">
  <h4 class ="error-message"> {{globalErrorMessage}} </h4>
  <button routerLink="/accueil" class = "btn btn-secondary">Retour à l'accueil</button>
</div>
