<h2 *ngIf="loading">Loading...</h2>
<div *ngIf="!loading && !error" id = "calendar">
  <h2> {{month.startDate | date:'MMMM y':undefined :'fr-BE' | titlecase}} </h2>
  <table class = "table table-bordered">
    <thead>
    <tr>
      <th>Lundi</th>
      <th>Mardi</th>
      <th>Mercredi</th>
      <th>Jeudi</th>
      <th>Vendredi</th>
      <th>Samedi</th>
      <th>Dimanche</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let week of weeks; let i = index">
      <ng-container *ngIf = "i === 1"><td *ngFor="let day of emptyBeginning"> </td></ng-container>
      <td *ngFor="let day of week" (click)="onClick(day)" [ngClass]="day.selected ? 'selected' : day.status | lowercase">
          <p *ngIf="!day.type">{{day.dayDate | date: 'd'}}</p>
          <p class = " {{day.type | lowercase}}" *ngIf="day.type">{{day.dayDate | date: 'd'}}</p>
      </td>
    </tr>
    </tbody>
  </table>
  <br>
  <form *ngIf="clickedDate1" [formGroup]="typeForm" (ngSubmit)="onSubmitType()">
    <label for="type">Choisir un type</label>
    <select id = "type" formControlName="type">
      <option *ngFor="let type of types"  value="{{type}}"> {{type}} </option>
    </select>
    <button type = "submit" class = "btn btn-primary">Confirmer</button>
  </form>
  <br>
  <h3>Afficher un autre mois</h3>
  <form [formGroup]="monthForm" (ngSubmit)="onSubmitMonth()">
    <input type ="date" formControlName = "date">
    <button type = "submit" class = "btn btn-primary">Envoyer</button>
  </form>
</div>
<div *ngIf="error && !loading">
  <h2>Erreur : mois inexistant</h2>
  <button routerLink="/init" class = "btn btn-secondary">Initialiser la période concernée</button>
</div>
