.pending{
  background-color: rgba(255,0,0,0.5);
}
.typed{
  background-color: rgba(255,120,0,0.5);
}
.valid{
  background-color: rgba(0,255,0,0.5);
}
.public_holiday_or_weekend{
  background-color: rgba(150,150,220,0.5);
}
.selected{
  background-color: rgba(0,0,255,0.5);
  border: 2px solid cyan;
}


table {
  //table-layout: fixed ;
}
td {
  width: 14% ;
}
td p {
  height: 10vh;
}
#legende{
  width: 60%;
}

p.typed, p.valid, p.pending{
  border: 2px solid black;
  width: 40px;
  height: 5vh;
}
