.congé{
  background-image: url('./images/vacation.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.maladie{
  background-image: url('./images/sick2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.belgique{
  background-image: url('./images/belgium2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.luxembourg{
  background-image: url('./images/lux2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
